
.index {
    margin: 0;
    background-color: black;
}

header
{
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    /* height: 100%; */
    background-color: black;
}

main
{
    float: left;
    padding-top: 30px;
    padding-left: 40px;
    text-align: center; 

}

video {
    width: 100%;
    position: fixed;
    z-index: -100;
}

.reproductor{
    margin-top: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

img
{
    width: 90px;
    /* padding-top: 2%; */
} 

h1
{
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding-bottom: 2%;
    margin: 0, auto;
} 

nav
{
    text-align: right;
    padding-top: 80px;
    padding-right: 40px;

}

ul
{
    display: inline;
    
}

a:link, a:visited, a:active {
    text-decoration:none;
    
}

li
{
    display: inline;
    margin: 0 15px;
    color: white;
    font-size: 15pt;
    font: bolder;
    font-family:sans-serif;
    
}

a
{
    color: white;
    transition: all 0.3 ease;
}

a:hover
{
    color: rgb(185, 185, 185);
}

.link-imagen{
    color: rgb(64, 80, 170);
}

div
{
    margin-top: 200px;
    overflow:auto;
    height: 100%;
    text-align: left;
}

.div-index{

    color: white;
}

.div-p-avisoPrincipal {
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 200pt;
    font-family: sans-serif;
    background-color: black;
}

article
{
    width: 80%;
    margin: auto;
    font-family: sans-serif;
    border: 1px solid rgb(224, 207, 240);
    border-radius: 8px;
    padding: 3%;
}

figure
{
    text-align: center;
    
}

.imagenHache
{
    width: 50%;
}

footer {
    background: black;
    height: 100px;
    display: block;
}

footer p {
    color: rgb(205, 135, 222);
    font-family: sans-serif;
    font-size: 7pt;
    margin: 0;
}

footer section {
    margin: 0;
    /* border: 1px solid blueviolet; */
    /* width: 30%; */
    text-align: center;
}

.face {
    margin-top: 2%;
    width: 2%;
    padding: 0 2%;
    margin-bottom: 1%;
}